# Editor specific
.idea/
*.geany

# MacOs specific
.DS_Store

# Files required for development
node_modules/
.nyc_output/
coverage/
out/
.env
.git/
test/
docs/
.editorconfig
.eslintrc.js
webpack.config.js
package.json
README.md
.travis.yml
*.tgz